.calcBtns{
    height: 90px;
    width: 90px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    background-color: #b9abab;
    user-select: none;
    box-shadow: 10px 10px 30px #bebebe,
    -10px -10px 30px #9e8888;
}

.res{
    width: 180px;
    background-color: rgb(231, 164, 39);
}